*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: black;
}

body{
    width: 1093px;
    margin-left: 137px;
    background-color: white;
}

header{
    background-color: #dadada; 
}

.foto{
    margin-left: 30px; 
    height: 216px;
    width: 384px;
    float: left;
}

.lancamentos{
    position: relative;
    top: 8px;
    color: black;
    font-size: 30px;
    text-align: center;
}

.botao {
    border: none;
    background-color: #3e4aeb;
    color: white;
    cursor: pointer;
    padding: 10px 83px;
    font-weight: 550;
    font-size: 16px;
    position: relative;
    top: 30px;
    left: 430px;
}

.botao:hover{
    border-style: solid;
    border-color: #3e4aeb;
    border-width: 3px;
    background-color: white;
    color: #3e4aeb;
    cursor: pointer;
    padding: 7px 80px;
    font-weight: 550;
    font-size: 16px;
    position: relative;
    top: 30px;
    left: 430px;
}

.capa{
    margin-left: 67px; 
    height: 540px;
    width: 960px;
    float: left;
    margin-top: 24px;
}

main{
    height: 793px;
    margin-top: 20px;
}

.slogan{
    text-align: center;
    font-size: 40px;
}

.Ford{
    height: 60px;
    width: 60px;
}

.cabecalho{
    position: relative;
    top: 12px;
    height: 60px;
    font-size: 25px;
    background-color: #252525; 

}

.cabecalho ul{
    float: inherit;
    position: relative;
    top: 13px;
}

.cabecalho ul li{
    display: inline;
    margin-left: 130px;
}

.cabecalho ul li :hover{
    display: inline;
    text-decoration: underline;
}

a{
    color: #f3f3f3;
    text-decoration: none;
}

.intro{
    margin-right: 30px;
    text-align: justify; 
    width: 620px;
    float: right;
    color: #313131;
    font-size: 18px;
}

footer{
    height: 250px;
    background-color: #555;
}