*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: black;
}

body{
    width: 1093px;
    margin-left: 137px;
    background-color: white;
}

header{
    background-color: #e7e7e7; 
}

.foto{
    margin-left: 30px; 
    height: 216px;
    width: 384px;
    float: left;
}

.henry{
    margin-top: 30px; 
    margin-left: 30px; 
    height: 216px;
    width: 384px;
    float: left;
}

.lancamentos{
    position: relative;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 550;
}

.botao {
    border: none;
    background-color: #3e4aeb;
    color: white;
    cursor: pointer;
    padding: 10px 83px;
    font-weight: 550;
    font-size: 16px;
    position: relative;
    top: 35px;
    left: 430px;
}

.botao:hover{
    border-style: solid;
    border-color: #3e4aeb;
    border-width: 3px;
    background-color: white;
    color: #3e4aeb;
    cursor: pointer;
    padding: 7px 80px;
    font-weight: 550;
    font-size: 16px;
    position: relative;
    top: 35px;
    left: 430px;
}

.capa{
    margin-left: 67px; 
    height: 540px;
    width: 960px;
    float: left;
    margin-top: 20px;
}

main{
    height: 793px;
    position: relative;
    top: 30px;
}

.slogan{
    text-align: center;
    font-size: 40px;
}

.Ford{
    position: relative;
    top: 23px;
    height: 70px;
    width: 70px;
}

.cabecalho{
    position: relative;
    top: 12px;
    height: 60px;
    font-size: 25px;
    background-color: #252525; 
}

.cabecalho a{
    position: relative;
    float: left;
    width: 25%;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}

.list :hover{
    transition: all 0.5s;
    display: inline;
    background-color: black;
}

a:hover{
    display: inline;
    background-color: #3e4aeb;
}

.ativo{
    display: inline;
    background-color: #3e4aeb;
}

a{
    color: #f3f3f3;
    text-decoration: none;
}

.imagens{
    position: relative;
    top: 20px;
    float: left;
    width: 414px;
    height: 1000px;
}

.intro{
    position: relative;
    right: 30px;
    top: 20px;
    text-align: justify; 
    width: 620px;
    float: right;
    color: #313131;
    font-size: 18px;
}

footer{
    border-top: solid 7px #616161;
    height: 250px;
    background-color: #252525;
}

.descricao{
    position: relative;
    float: right;
    top: 20px;
    right: 30px;
    width: 620px;
    text-align: justify; 
    color: #313131;
    font-size: 18px;
}

.concessionaria{
    position: relative;
    float: right;
    width: 520px;
    text-align: justify; 
    color: #313131;
    font-size: 20px;
    top: 20px;
    right: 30px;
}

.slaviero{
    position: relative;
    left: 30px;
    top: 20px;
    height: 345px;
    width: 480;
}

.mapa{
    position: relative;
    left: -10px;
    top: 100px;
    height: 345px;
    width: 480;
}

.informacoes li, .navegacao li{
    list-style: none;
    margin-top: 10px;
}

.informacoes{
    display: inline-block;
    margin-left: 300px;
    margin-top:30px;
}

.navegacao{
    display: inline-block;
    margin-left: 100px;
}

h2{
    margin-top: 20px;
    color: white;
}

#direitos{
    margin-top: 40px;
    margin-left: 10px;
    color: white;
}


