*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: black;
}

body{
    width: 1093px;
    margin-left: 137px;
    background-color: white;
}

header{
    background-color: #555; 
}

.foto{
    margin-left: 30px; 
    height: 216px;
    width: 384px;
    float: left;
}

main{
    height: 793px;
    margin-top: 20px;
}

.slogan{
    text-align: center;
    font-size: 40px;
}

.Ford{
    height: 60px;
    width: 60px;
}

.cabecalho{
    margin-top: 10px;
    padding-top: 10px;
    height: 40px;
    font-size: 25px;
    background-color: black; 

}

.cabecalho ul{
    float: inherit;
    
}

.cabecalho ul li{
    display: inline;
    margin-left: 92px;
}

.cabecalho ul li :hover{
    display: inline;
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
}


.intro{
    margin-right: 30px;
    text-align: justify; 
    width: 620px;
    float: right;
    color: #313131;
    font-size: 18px;
}

footer{
    height: 250px;
    background-color: #555;
}